body{
  background-image: url(../imagem/fundo);
}

 header{ 
  display: flex;
  justify-content: center;
  width: 100%;
}

header img{
  width: 65%;
}


.formCentral{
  display: flex;
  justify-content: center;
  width: 100%;
}

.formCentral form{
  width: 70%;
}

.formCentral form h3{
  font-size: 2em;
}


h3{
  font-family: Oswald;
  font-size: 2.5em;
}

label{
  font-family: Oswald;
}

.senha{display: flex;
  flex-direction: row;
  width: 100%;
}

.senha input{
  width: 90%;
}

.senha i{
  margin-top: 4%;
  margin-left: 2%;
  float: right;
}

#olhoFechado{
  display: none;
}



button {
  color: white;
  background: midnightblue;
  transition: background 1s;
  font-family: Oswald;
}

button:hover,
button:focus {
  background: gray;
}

@media only screen and (min-width: 768px){

  header img{
    width: 30%;
  }

  .formCentral form{
    width: 100%;
  }

  .formCentral form h3{
    font-size: 2em;
  }

  .senha i{
    cursor: pointer;
    margin-top: 2%;
  }

}