body{
  height: 950px;
  width: 100%;
}

#corpo{
  height: 100%;
  width: 100%;
}

#imgfundo{
  height: 100%;
  width: 100%;
}


#titulolog{
  width: 52%;
  height: 100px;
  margin: 3%;
  margin-left: 37.5%;
  margin-top: 1.5%;
  color: white;
  opacity: 4;
  font-size: 60px;
  font-family: ;
  font-style: italic;
  font-weight: bold;
}

#escrtlog{
  width: 100%;
  height: 97px;
  margin-top: -941px;
  position: absolute;
  background: #062F78;
}


#escrtselec {
  width: 309px;
  height: 110px;
  margin-top: -844px;
  margin-left: 540px;
  position: absolute;
  font-family: Fantasy, sans-serif;
  color: balck;
}

#escritaselecione{
  width: 100%;
  height: 100%;
}

#botvoltar {
  width: 76px;
  height: 31px;
  margin-top: -874px;
  margin-left: 1190px;
  position: absolute;
}
#botsair{
  width: 50px;
  height: 32px;
  margin-top: -874px;
  margin-left: 1290px;
}

#botvoltar:hover{
  filter: opacity(100%);
}

#botsair:hover{
  filter: opacity(70%);
}

a{
color: white;
font-size: 15px;
position: absolute;
font-weight: bold;
}

#imgLogo{
  width: 100px;
  height: 127px;
  left: 50%;
}

#loadsafe{
  width: 234px;
  height: 135px;
  margin-left: 237%;
  margin-top: 80%;
  border-radius: 25px;
  background: whitesmoke;
  box-shadow: -0.6em 0 0.8em rgb(30 28 28);
  cursor: pointer;
  filter: opacity(100%);
}
