body{
  height: 950px;
  width: 100%;
}

#corpo{
  height: 100%;
  width: 100%;
}

#imgfundo{
  height: 100%;
  width: 100%;
}


#titulolog{
  width: 100%;
  height: 700px;
}

#escrtlog{
  width: 100%;
  height: 700px;
  margin-top: -950px;
  filter: opacity(80%);
  }


#escrtselec{
  width: 850px;
  height: 450px;
  margin-top: -700px;
  margin-left: 250px;
  }

#escritaselecione{
  width: 100%;
  height: 100%;
}

#botvoltar{
  width: 125px;
  height: 75px;
  margin-top: -375px;
  margin-left: 1075px;
  position: absolute;
}

#voltarlog{
  width: 100%;
  height: 100%;
}

#botvoltar:hover{
  filter: opacity(70%);
}

#botsair{
  width: 115px;
  height: 70px;
  margin-top: -370px;
  margin-left: 1190px;
  position: absolute;
}

#sairlog{
  width: 100%;
  height: 100%;
}

#botsair:hover{
  filter: opacity(70%);
}

#opc1{
  width: 300px;
  height: 250px;
  margin-left: 500px;
  margin-top: -110px;
  position: absolute;
  filter: contrast(300%);
}


#imgLogo{
  width: 100%;
  height: 100%;
  margin-top: -100px;
  margin-left: 20px;
  cursor: pointer;
}

/*#opc1:hover{
  filter: contrast(250%);
}*/



#opc2{
  width: 150px;
  height: 150px;
  margin-left: 500px;
  margin-top: -150px;
  position: absolute;
}




@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
animation: fadeIn 0.5s ease-in-out;
}

.fadeImg {
opacity:0;
animation: fadeIn 0.5s ease-in-out; 
animation-fill-mode:forwards;}


.fadeImg2 {
opacity:0;
animation: fadeIn 0.5s linear; 
animation-fill-mode:forwards; 
animation-delay: 0.2s;}