body{
	background-image: url(../imagem/fundo6);
}
#controleSmartModal{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Oswald;
	color: midnightblue;
	font-size: 17;
}

.modal-content{
	background-color: gainsboro;
	border: 2px solid;
	border-color: black;
}