*{
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Oswald;

  }

a{
  text-decoration: none;
}

ul{
  list-style-image: none;
}

img{
  max-width: 100%;
}


body{
background-image: url(../imagem/fundo);
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#opcoes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  padding: 40px;
  margin: 0 auto;
}

#fundoGrupo{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 30%;

}

footer{
  font-family: Oswald;
  text-decoration: none;
  text-align: center;
  padding: 20px;;
  background: #062F78;
  text-decoration: none;
}

footer a{
  text-decoration: none;
  color:  #FFFFFF;
  font-size: 40;
}
 
@media only screen and (max-width: 600px) {


header{
  width: 100%;
}

#selecionesetor{
  width: 100%;
}

header img{
  width: 100%;
}


#opcoes{
width: 100%;
}

#fundoGrupo{
  display: flex;
  align-items: center;
  justify-content: center;

}

footer{
  font-family: Oswald;
  text-decoration: none;
  text-align: center;
  padding: 20px;;
  background: #062F78;
  text-decoration: none;
}

footer a{
  text-decoration: none;
  color:  #FFFFFF;
  font-size: 40;
}

}

/*-------------------------ANIMAÇÕES---------------------------------------*/
#figuralogistica{
  animation-duration: 2s;
  animation-name: fadein;
  animation-iteration-count: finite;
}

#figuralogistica:hover,
#figuralogistica:focus{
  filter: opacity(40%);
}


#figurasetorti{ 
  animation-duration: 2s;
  animation-name: fadein;
  animation-iteration-count: finite;
  animation-delay: 0.5s;
}

#figurasetorti:hover,
#figurasetorti:focus{
   filter: opacity(40%);
}


#figuracomercial{ 
  animation-duration: 2s;
  animation-name: fadein;
  animation-iteration-count: finite;
  animation-delay: 1s;

}

#figuracomercial:hover,
#figuracomercial:focus{
  filter: opacity(40%);
}

#figurafinanceiro{ 
  animation-duration: 2s;
  animation-name: fadein;
  animation-iteration-count: finite;
  animation-delay: 1.5s;

}

#figurafinanceiro:hover,
#figurafinanceiro:focus{
  filter: opacity(40%);
}

#figuraBiblioteca:hover,
#figuraBiblioteca:focus{
  filter: opacity(40%);
}

#figuraRelatoriosComerciais:hover,
#figuraRelatoriosComerciais:focus{
  filter: opacity(40%);
}




/*-----------------------------------CONFIGURAÇÕES ANIMAÇÕES-----------------------------------------*/


@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
animation: fadeIn 0.5s ease-in-out;
}

.fadeImg {
opacity:0;
animation: fadeIn 0.5s ease-in-out; 
animation-fill-mode:forwards;}


.fadeImg2 {
opacity:0;
animation: fadeIn 0.5s linear; 
animation-fill-mode:forwards; 
animation-delay: 0.2s;}

.fadeImg3 {
opacity:0;
animation: fadeIn 0.5s linear; 
animation-fill-mode:forwards; 
animation-delay:0.4s;}

.fadeImg4 {
opacity:0;
animation: fadeIn 0.5s linear; 
animation-fill-mode:forwards; 
animation-delay:0.6s;}

.fadeImg5 {
opacity:0;
animation: fadeIn 0.5s linear; 
animation-fill-mode:forwards; 
animation-delay:0.8s;}

.fadeImg6 {
opacity:0;
animation: fadeIn 0.5s linear; 
animation-fill-mode:forwards; 
animation-delay:1s;}




