<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="SHORTCUT ICON" href="../imagem/iconelink.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link href = "https: //fonts.googleapis.com/css2? family = Teko: wght @ 700 & display = swap "rel =" stylesheet ">
    <link rel="stylesheet" href="../css/teamplateRelatoriosComerciais.css" >
    <link rel="stylesheet" href="../css/normalize.css" >
    <title>Relatórios Comerciais</title>
</head>
<body>

    <header class="cabecalho">
        <h1>Selecione sua opção</h1>
    </header>

    <section class="divisao">
        <div class="divDupont1">
            <h1>DUPONT 1</h1>
            <div class="opcaoDp1"><a href="https://app.powerbi.com/view?r=eyJrIjoiM2VjYjYxZDEtODRmNy00MTNkLTk0NDEtZTNjMDFkNjk0YTRkIiwidCI6IjIwMmU1YmIyLTZjZGUtNDlmZi04N2ViLTQ1ODhjYWIxMjI4ZSJ9&pageName=ReportSection">
                <img src="../imagem/iconeDevolucao.png">
                <h3>Devolução</h3></a>
            </div>
            <div class="opcaoDp1"><a href="https://app.powerbi.com/view?r=eyJrIjoiMDIxMjZkOWUtYTBjZS00Y2JmLTkxNGUtZDNmNDkyZjE4M2U1IiwidCI6IjIwMmU1YmIyLTZjZGUtNDlmZi04N2ViLTQ1ODhjYWIxMjI4ZSJ9">
                <img src="../imagem/iconeIndenizacao.png">
                <h3>Indenização</h3></a>
            </div>
        </div>

        <div class="divDupont2">
            <h1>DUPONT 2</h1>
            <div class="opcaoDp2"><a href="https://app.powerbi.com/view?r=eyJrIjoiYjE5NjY1OWMtNTI1Ny00NGZlLTk4NDItNzJiZjg2ZDEwMTljIiwidCI6IjIwMmU1YmIyLTZjZGUtNDlmZi04N2ViLTQ1ODhjYWIxMjI4ZSJ9">
                <img src="../imagem/iconeDevolucao.png">
                <h3>Devolução</h3></a>
            </div>
            <div class="opcaoDp2"><a href="https://app.powerbi.com/view?r=eyJrIjoiNjUzNTQyZDMtZmJhOS00ZjY4LWFiNjMtMzI0YzgxOGM5MTRlIiwidCI6IjIwMmU1YmIyLTZjZGUtNDlmZi04N2ViLTQ1ODhjYWIxMjI4ZSJ9">
                <img src="../imagem/iconeIndenizacao.png">
                <h3>Indenização</h3></a>
            </div>
        </div>
    </section>

    <footer class="rodape">
		<a href="../View/setores.php">VOLTAR</a>
	</footer>
    
</body>
</html>